@{
    ViewData["Title"] = "Home Page";
}


<div class="row">
    <div class="col-md-4">
        @foreach (var value in (List<ADV.OrdersProducts.Models.OrdersViewModel>)ViewBag.Orders)
        {
            
//value.OrderName + " " + value.DateCreate;
            
        }
    </div>
    <div class="col-md-8">
    </div>
</div>
