@{
    ViewData["Title"] = "Home Page";
}


<div class="row">
    <div class="col-md-4 border border-info">
        @await Html.PartialAsync("Orders", (List<ADV.OrdersProducts.Models.OrdersViewModel>)ViewBag.Orders)
    </div>
    <div class="col-md-8 border border border-info">
        @await Html.PartialAsync("DatailOrder", (ADV.OrdersProducts.Models.DatailsOrderViewModel)ViewBag.DatailOrder)
        @await Html.PartialAsync("Products", (List<ADV.OrdersProducts.Models.ProductsViewModel>)ViewBag.Product)
    </div>
</div>
