@model List<ADV.OrdersProducts.Models.OrdersViewModel>
<h3>Orders</h3>
<ul>
    @foreach (var item in Model)
    {
        <li>@item.OrderName @item.DateCreate.ToString("dd.MM.yyyy HH:mm")</li>
    }
</ul>
